/**
Plik css definiujący style dla komponentów ListView
 */


@import '../fonts/Fonts.css';
@import 'MFXColors.css';

.customList {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10;
}

.customList .virtual-flow {
    -fx-background-color: transparent;
}

.customList .virtual-flow .mfx-list-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-insets: 1 1 1 1;
    -fx-padding: 10;
    -fx-alignment: center;
}

.customList .virtual-flow .mfx-list-cell .data-label {
    -fx-text-fill: white;
    -fx-font-family: 'Visby Round CF Demi Bold';
    -fx-font-size: 20px;
}

.customList .virtual-flow .mfx-list-cell {
    -fx-background-color: -mfx-purple;
    -fx-padding: 2;
    -fx-start-margin: 5;
}

.customList .virtual-flow .mfx-list-cell:hover {
    -fx-background-color: rgb(51, 150, 83);
}



.customList2 {
    -fx-background-color: -mfx-purple;
    -fx-border-color: black;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-padding: 15;
}

.customList2 .virtual-flow {
    -fx-background-color: transparent;
}

.customList2 .virtual-flow .mfx-list-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
}

.customList2 .virtual-flow .mfx-list-cell .data-label {
    -fx-text-fill: white;
    -fx-font-family: 'Visby Round CF Demi Bold';
    -fx-font-size: 16px;
}

.customList2 .virtual-flow .mfx-list-cell:hover {
    -fx-background-color: #FFFFFF33;
}