/**
Plik css definiujący style dla menu nawigacyjnego w panelu administratora
 */


@import '../fonts/Fonts.css';
@import 'MFXColors.css';

.rootPane .sidemenu {
    -fx-background-color: -mfx-purple;
    -fx-padding: 5px;
    -fx-background-radius: 15;
}

.rootPane .sidemenu .header {
    -fx-font-family: 'Visby Round CF Demi Bold';
    -fx-font-size: 22;
    -fx-text-fill: white;
}

.rootPane .sidemenu .header .mfx-font-icon {
    -mfx-color: white;
}


.rootPane .sidemenu .mfx-ripple-generator {
    -mfx-paused: true;
}

.rootPane .sidemenu .navbar .mfx-rectangle-toggle-node .mfx-icon-wrapper .mfx-font-icon {
    -mfx-color: white;
}

.rootPane .sidemenu .mfx-rectangle-toggle-node{
    -fx-font-family: "Visby Round CF Demi";
    -fx-font-size: 15;
    -fx-alignment: center;
}

.rootPane .sidemenu .mfx-rectangle-toggle-node:selected {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-border-radius: 8px;
}

.rootPane .sidemenu .mfx-rectangle-toggle-node:hover{
    -fx-background-color: #96ee78;
    -fx-background-radius: 8px;
    -fx-border-color: #96ee78;
}