/**
Plik css definiujący style dla komponentów TableView
 */


@import 'MFXColors.css';

/* Styl dla tabeli */
.table-header {
    -fx-background-color: -mfx-purple;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.mfx-table-view{
    -fx-background-color: #e5e0e0;
}

.table-cell  {
    -fx-font-size: 14px;
}

.mfx-table-view .mfx-table-row:even {
    -fx-background-color: -mfx-tablerow-even; /* Kolor tła dla wierszy o indeksach parzystych */
}

.mfx-table-view .mfx-table-row:odd {
    -fx-background-color: -mfx-tablerow-odd; /* Kolor tła dla wierszy o indeksach nieparzystych */
}
