/**
Plik css definiujący style dla komponentów TextField
 */

@import '../fonts/Fonts.css';
@import 'MFXColors.css';

.mfx-text-field {
    -fx-min-width: 130;
    -fx-font-family: 'Visby Round CF Medium';
    -fx-background-color: -mfx-textfield-color;
    -fx-font-size: 15;
}

.mfx-text-field .floating-text {
    -fx-font-family: 'Visby Round CF Medium';
    -fx-background-color: transparent;
    -fx-font-size: 15;
}